In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

ModuleNotFoundError: No module named 'matplotlib'

In [ ]:
titanic = pd.read_csv('train.csv')
titanic.head()

In [ ]:
titanic.isnull()

In [ ]:
sns.heatmap(titanic.isnull(), yticklabels=False, cbar=False, cmap='viridis')
# show we can see most of the nan value present in aga and cabin

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x='Survived', data=titanic)

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x = 'Survived', hue='Sex', data=titanic, palette='RdBu_r')

In [ ]:
sns.set_style('whitegrid')
sns.countplot(x = 'Survived', hue='Pclass', data=titanic, palette='rainbow')

In [ ]:
sns.displot(titanic['Age'].dropna(), kde=False, color='hotpink', bins=40)

In [ ]:
titanic['Age'].hist(bins=40,color='blue', alpha=0.3)

In [ ]:
sns.countplot(x='SibSp', data=titanic)

In [ ]:
titanic['Fare'].hist(color = 'green', bins=40, figsize=(8,4))

In [ ]:
plt.figure(figsize=(12,7))
sns.boxenplot(x='Pclass', y = 'Age', data=titanic)

In [ ]:
def impute_age(cols):
    Age = cols.iloc[0]
    Pclass = cols.iloc[1]


    if pd.isnull(Age):
        if Pclass ==1:
            return 37
        elif Pclass == 2:
            return 29
        else:
            return 24
    else:
        return Age

In [ ]:
titanic['Age'] = titanic[['Age', 'Pclass']].apply(impute_age, axis=1)

In [ ]:
sns.heatmap(titanic.isnull(), yticklabels=False, cbar=False,cmap='viridis')

In [ ]:
titanic.drop('Cabin', axis=1, inplace=True)

In [ ]:
titanic.head()

In [ ]:
titanic.dropna(inplace= True)

In [ ]:
titanic.info()

In [ ]:
pd.get_dummies(titanic['Embarked'], drop_first=True).head()

In [ ]:
sex = pd.get_dummies(titanic['Sex'],drop_first=True)
embark = pd.get_dummies(titanic['Embarked'],drop_first=True)

In [ ]:
titanic.drop(['Sex', 'Embarked', 'Name', 'Ticket'], axis = 1, inplace= True)

In [ ]:
titanic.head()

In [ ]:
titanic = pd.concat([titanic,sex,embark],axis =1)

In [ ]:
titanic.head()
# Data is ready

In [ ]:
titanic.drop('Survived', axis=1).head()

In [ ]:
titanic['Survived'].head()

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('Survived', axis = 1), titanic['Survived'], test_size=0.30, random_state=101)

In [ ]:
from sklearn.linear_model import LogisticRegression

In [ ]:
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)

In [ ]:
predictions = logmodel.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix

In [ ]:
accuracy = confusion_matrix(y_test, predictions)

In [ ]:
accuracy

In [ ]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test, predictions)
accuracy

In [ ]:
predictions